<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "../static/styles/style.css">
    <script defer src="https://pyscript.net/alpha/pyscript.js"></script>
    <title>Dash CO2 Emissions</title>
</head>
<body>
    <div id="homepage">
        <div id="title">
            <b> <h2 class="larger_border"> Dash CO2 Emissions </h2> </b>
        </div>
    </div>

    <div id="data_display">
        <div id="data_content">
            <b> <p class="edit"> Here is the data regarding CO2 emissions of the foods
                we consume on Swarthmore's Campus as indicated by the data on the Dash: </p> </b>
                
                <div>
                    {% if True %}
                        {{title + "\n"}}
                    {% endif %}
                </div>
            
            <py-script>  
                from pyodide.http import open_url
                file = open_url('https://raw.githubusercontent.com/kbarkdo1/dashFootprint/main/data/ItemsCF.csv')

                # List of lists defining main ingredient and Carbon Footprint
                    # [0] = main ingredient
                    # [1] = CF
                item_cf = []

                for line in file:
                    line = line.strip().split(",")
                    item = line[3]
                    cf = line[5]
                    item_cf.append([item, cf])

                item_cf = item_cf[2:] 

                #print("Food item, Carbon Footprint")
                #for line in item_CF:
                    #print("%s, %s" % (line[0], line[1]))


                file2 = open_url('https://raw.githubusercontent.com/kbarkdo1/dashFootprint/main/data/MenuItem.csv')
                sharps_menu = []

                for line in file2:
                    line = line.strip().split(",")
                    meal = line[0]
                    main = line[1]
                    sharps_menu.append([meal, main])

                print("Food item | Carbon Footprint")
                print("---------------------------")
                for item in item_cf:
                    for meal in sharps_menu:
                        if meal[1] in item:
                            print("%s, %s" % (meal[0], item[1]))

            </py-script>

        </div>
    </div>
</body>
</html>