body {
    margin: 0;
    text-align: center;
  }
  
  #title {
    text-align: center;
    color: white;
    font-size: large;
    font-family: Georgia, "Times New Roman", Times, serif;
  }

  #banner {
    display: flex;
    background-color: #3cb023;
    /*background-color: #028a0f;*/
    margin-top: 0px;
    height: 50px;
    font-family: Georgia, "Times New Roman", Times, serif;
  }